<% provide(:title, "All posts") %>
<h1>All posts</h1>
<%= render "shared/sort" %>
<ul class="posts">
  <%= render @posts %>
  <% if !@posts.present? %>
    <h2>There are no posts yet, they may be under moderation</h2>
  <% end %>
</ul>
